*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #c4193b;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.wrapper h1 {
  color: white;
  margin: 5px;
}
.calc_prezzo,
.tuo_biglietto {
  width: 100%;
  background-color: white;
  border-radius: 20px;
}
.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.col.price {
  margin: 20px;
}
label {
  display: block;
  color: #c4193b;
  margin: 10px;
}
input,
select {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border-color: #c4193b;
}
input:focus::placeholder {
  background-color: #c4193b;
  color: white;
}
.row_button {
  display: flex;
  justify-content: center;
}
button {
  background-color: lightgrey;
  color: #c4193b;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
}
.col_passeggero {
  float: left;
  width: 20%;
}
.col_passeggero:after {
  content: "";
  display: table;
  clear: both;
}
